<!-- app/templates/user_detail.html -->
{% extends 'base.html' %}

{% block title %}Детали пользователя{% endblock %}

{% block content %}
<div class="card mx-auto" style="max-width: 600px;">
    <div class="card-body">
        <h1 class="card-title">Детали пользователя</h1>

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="invalid-feedback">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <!-- Условное отображение кнопки "Назад к списку пользователей" только для администраторов -->
            {% if role == 'admin' %}
                <a href="{% url 'user_list' %}" class="btn btn-secondary">Назад к списку пользователей</a>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
